// for all
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
// variables
$hovercolor: #e7746f;
$defaultcolor: white;
$textcolor: #676d79;
$footerbackground: #f6f6f6;
$fontfamily: "Source Sans Pro", Arial, sans-serif;
// variables

// css starting here

// section 1 starts here
// for normal android phones not for tablets
.imagesize {
  height: 35px;
  width: 35px;
}
.container1 {
  padding-top: 40px;
  width: 90%;
  margin: 25px auto;
}
.main-heading {
  padding-bottom: 30px;
}
.main-heading span a {
  position: absolute;
  padding: 7px;
  font-size: 15px;
  text-decoration: none;
  font-weight: 800;
  font-family: $fontfamily;
  text-transform: uppercase;
  color: $textcolor;
  letter-spacing: 6px;
}
.main-heading span a:hover {
  color: $hovercolor;
  transition: 500ms ease;
}
.main-para {
  padding-bottom: 25px;
}
.main-para h1 {
  font-size: 25px;
  line-height: 35px;
  font-family: $fontfamily;
  color: $textcolor;
  font-weight: 700;
}
.main-para h1 a {
  font-size: 25px;
  line-height: 35px;
  font-family: $fontfamily;
  color: $textcolor;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 1px dotted $textcolor;
}
.main-para h1 a:hover {
  color: $hovercolor;
  border-bottom: none;
  transition: all 1s;
}
.main-para2 p {
  font-family: $fontfamily;
  line-height: 29px;
  color: $textcolor;
  padding-bottom: 25px;
}
// end
// media query for section 1 starts here
// for ipad and ipad pro
// start
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .main-para h1 {
    font-size: 40px;
    line-height: 55px;
  }
  .main-para h1 a {
    font-size: 40px;
  }
}
// end

// for laptops only
// start
@media only screen and (min-width: 1025px) {
  .container1 {
    width: 90%;
    padding-top:150px;
  }
  .main-para h1 {
    font-size: 43px;
    line-height: 60px;
    font-weight: 700;
  }
  .main-para h1 a {
    font-size: 43px;
  }
}
// end

// section 2 starts here

.container2 {
  width: 90%;
  margin: 20px auto;
  padding-top: 55px;
}
.flex {
  display: flex;
  flex-direction: column;
}
.box {
  // background-color:red;
  width: 100%;
  height: 280px;
  margin-top: 25px;
  border-radius: 8px;
  transition: 500ms ease;
  position: relative;
}
.box:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.divheading h3 {
  text-transform: uppercase;
  font-family: $fontfamily;
  color: $defaultcolor;
  letter-spacing: 6px;
  font-weight: 700;
  position: absolute;
  z-index: 100;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.divpara {
  display: none;
}
.divpara {
  font-family: $fontfamily;
  font-weight: 500;
  color: $defaultcolor;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 15%;
  line-height: 20px;
  // transform: translate(-50%, -50%);
  z-index: 100;
  transition: 1s;
}
.box:hover .divpara {
  display: block;
}
// images begin here
#Image1 {
  background-image: url("../Images/block1.jpg");
  background-size: cover;
  background-position: center center;
}
.overlay1 {
  background-color: rgba(242, 132, 158, 0.5);
  z-index: 50;
  width: 100%;
  height: 280px;
  border-radius: 8px;
  position: absolute;
}
#Image2 {
  background-image: url("../Images/block2.jpg");
  background-size: cover;
  background-position: center center;
}
.overlay2 {
  background-color: rgba(126, 202, 246, 0.5);
  z-index: 50;
  width: 100%;
  height: 280px;
  border-radius: 8px;
  position: absolute;
}
#Image3 {
  background-image: url("../Images/block3.jpg");
  background-size: cover;
  background-position: center center;
}
.overlay3 {
  background-color: rgba(123, 208, 193, 0.5);
  z-index: 50;
  width: 100%;
  height: 280px;
  border-radius: 8px;
  position: absolute;
}
#Image4 {
  background-image: url("../Images/block4.jpg");
  background-size: cover;
  background-position: center center;
}
.overlay4 {
  background-color: rgba(199, 91, 155, 0.5);
  z-index: 50;
  width: 100%;
  height: 280px;
  border-radius: 8px;
  position: absolute;
}
#Image5 {
  background-image: url("../Images/block5.jpg");
  background-size: cover;
  background-position: center center;
}
.overlay5 {
  background-color: rgba(174, 133, 202, 0.5);
  z-index: 50;
  width: 100%;
  height: 280px;
  border-radius: 8px;
  position: absolute;
}
#Image6 {
  background-image: url("../Images/block6.jpg");
  background-size: cover;
  background-position: center center;
}
.overlay6 {
  background-color: rgba(132, 153, 231, 0.5);
  z-index: 50;
  width: 100%;
  height: 280px;
  border-radius: 8px;
  position: absolute;
}
#Image7 {
  background-image: url("../Images/block7.jpg");
  background-size: cover;
  background-position: center center;
}
.overlay7 {
  background-color: rgba(126, 202, 246, 0.5);
  z-index: 50;
  width: 100%;
  height: 280px;
  border-radius: 8px;
  position: absolute;
}
#Image8 {
  background-image: url("../Images/block8.jpg");
  background-size: cover;
  background-position: center center;
}
.overlay8 {
  background-color: rgba(123, 208, 193, 0.5);
  z-index: 50;
  width: 100%;
  height: 280px;
  border-radius: 8px;
  position: absolute;
}
#Image9 {
  background-image: url("../Images/block9.jpg");
  background-size: cover;
  background-position: center center;
}
.overlay9 {
  background-color: rgba(242, 132, 158, 0.5);
  z-index: 50;
  width: 100%;
  height: 280px;
  border-radius: 8px;
  position: absolute;
}
#Image10 {
  background-image: url("../Images/block10.jpg");
  background-size: cover;
  background-position: center center;
}
.overlay10 {
  background-color: rgba(174, 133, 202, 0.5);
  z-index: 50;
  width: 100%;
  height: 280px;
  border-radius: 8px;
  position: absolute;
}
#Image11 {
  background-image: url("../Images/block11.jpg");
  background-size: cover;
  background-position: center center;
}
.overlay11 {
  background-color: rgba(132, 153, 231, 0.5);
  z-index: 50;
  width: 100%;
  height: 280px;
  border-radius: 8px;
  position: absolute;
}
#Image12 {
  background-image: url("../Images/block12.jpg");
  background-size: cover;
  background-position: center center;
}
.overlay12 {
  background-color: rgba(199, 91, 155, 0.5);
  z-index: 50;
  width: 100%;
  height: 280px;
  border-radius: 8px;
  position: absolute;
}
// end
.box:hover .overlay1 {
  display: none;
  transition: 500ms ease;
}
.box:hover .overlay2 {
  display: none;
  transition: 500ms ease;
}
.box:hover .overlay3 {
  display: none;
  transition: 500ms ease;
}
.box:hover .overlay4 {
  display: none;
  transition: 500ms ease;
}
.box:hover .overlay5 {
  display: none;
  transition: 500ms ease;
}
.box:hover .overlay6 {
  display: none;
  transition: 500ms ease;
}
.box:hover .overlay7 {
  display: none;
  transition: 500ms ease;
}
.box:hover .overlay8 {
  display: none;
  transition: 500ms ease;
}
.box:hover .overlay9 {
  display: none;
  transition: 500ms ease;
}
.box:hover .overlay10 {
  display: none;
  transition: 500ms ease;
}
.box:hover .overlay11 {
  display: none;
  transition: 500ms ease;
}
.box:hover .overlay12 {
  display: none;
  transition: 500ms ease;
}
// end
// media query for section 2
// for ipad and ipad pro and ;aptop only

// start
@media only screen and (min-width: 768px) and (max-width: 2000px) {
  .flex {
    flex-direction: row;
    // flex-wrap:wrap;
    justify-content: space-between;
  }
  .box {
    margin-right: 25px;
    width: 33%;
    // height:300px;
  }
}
// end

// footer starting here

// start

.containerF {
  background-color: $footerbackground;
  padding-top: 25px;
}
// footer part 1
.form-heading {
  padding: 20px;
}
.form-heading h2 {
  font-size: 15px;
  letter-spacing: 5px;
  color: $textcolor;
  font-family: $fontfamily;
  font-weight: 700;
  text-transform: uppercase;
}
.icons {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 40px;
  line-height: 70px;
}
.icons i {
  margin-right: 10px;
  border: 1px solid $textcolor;
  padding: 15px;
  font-size: 20px;
  border-radius: 7px;
}
.icons a {
  color: black;
  display: inline-block;
}
.icons i:hover {
  color: $hovercolor;
  transition: all 500ms;
  border: 1px solid $hovercolor;
}
// footer part 2

// visibility of label hidden
label {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}
.form-edit-2 {
  padding-left: 20px;
  padding-bottom: 20px;
  // padding-top:20px;
  padding-right: 20px;
}
.contact-form-input {
  padding: 5px;
}
.contact-form-input input,
.col100 textarea {
  width: 100%;
  margin-top: 35px;
  border: none;
  border-bottom: 1px solid $textcolor;
  outline: none;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: $footerbackground;
  font-size: 16px;
  font-family: $fontfamily;
  color: $textcolor;
}
.col50 input:focus,
.col100 textarea:focus {
  border-bottom: 2px solid $hovercolor;
}
.formbutton {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}
.formbutton input {
  width: 100%;
  padding: 15px;
  background-color: $textcolor;
  outline: none;
  border: 1px solid $textcolor;
  font-size: 15px;
  font-family: $fontfamily;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: $defaultcolor;
  font-weight: 600;
  border-radius: 5px;
}
.formbutton input:hover {
  background-color: $hovercolor;
  border: 1px solid $hovercolor;
  cursor: pointer;
  transition: 500ms;
}
.copyrightdetails ul {
  list-style: none;
  padding-bottom: 20px;
}
.copyrightdetails ul li {
  padding-left: 20px;
  padding-bottom: 10px;
  color: $textcolor;
}
.copyrightdetails ul li a {
  color: $textcolor;
  text-decoration: none;
  border-bottom: 1px solid $textcolor;
}
.copyrightdetails ul li a:hover {
  color: $hovercolor;
  transition: all 500ms;
}
// end
// media query for footer starts here

// for ipad ipad pro and laptop
@media only screen and (min-width: 768px) and (max-width: 2000px) {
  .containerF{
    padding-top:50px;
    padding-right:45px;

    padding-left:45px;
    // width:90%;
    margin:85px auto;
  }
  .form-heading h2{
    font-size:22px;
  }

  .clearfix::after {
    content: " ";
    display: table;
    clear: both;
  }
  .col50 {
    width: 50%;
    float: left;
    padding-left: 8px;
  }
  .col100 {
    width: 100%;
  }
  .flexboxcontainer {
    display: flex;
  }
  .flex1 {
    order: 2;
  }
  .flex2{
    flex:2;
  }
  .flex1{
   flex:1;
  }
  .formbutton{
    padding-top:25px;
    padding-bottom:25px;
  }
  .formbutton input{
    // padding-top:25px;
    width:15%;
  }
  .copyrightdetails{
    text-align:center;
  }
  .copyrightdetails ul{
    padding-top:25px;
  }
  .copyrightdetails ul li{
       display:inline-block;
  }
}
